body {
  background-color: bisque;
}
/* when I was styling this page I realized how much I realized a simple coding instruction could be twisted, all jokes aside I did my best of the instructions and what they meant, the biggest hang up I wanted to know the "center" of the page is what I have but I aslo crossed my mind of a seperate div centered on the page with the form & inputs in it, the struggles of a rookie dev */

.App {
  text-align: center;
  background-color: dimgrey;
  margin: 5px;
}

.navBar {
  width: auto;
  background-color: cadetblue;
  color: black;
  padding: 10px;
}

nav ul {
  display: flex;
  flex-direction: row;
  font-size: large;
  font-family: "Times New Roman", Times, serif;
  justify-content: space-around;
}

nav ul li {
  text-decoration: underline;
}

nav ul li:hover {
  color: yellow;
}

form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form h3 {
  border: solid black;
}
